In [7]:
import pandas as pd

df1 = pd.read_csv('../output_1_10000.csv')
df2 = pd.read_csv('../output_10001_20000.csv')
df3 = pd.read_csv('../output_20001_30000.csv')
df4 = pd.read_csv('../output_30001_40000.csv')
df5 = pd.read_csv('../output_40001_50000.csv')
df6 = pd.read_csv('../output_50001_59542.csv')

df = pd.concat([df1, df2, df3, df4, df5, df6])
df.head()

,filename,datetime,guid,slugline,headline,description,genres,subjects,bodyLengthChars,bodyLengthCharsNonWhitespace,bodyLengthWords
0,"tag:reuters.com,2019:newsml_A4N21U01K:14029350...",2019-09-04T06:15:57.000Z,"tag:reuters.com,2019:newsml_A4N21U01K",TURKEY-CURRENCY/ (URGENT),"Turkey's lira firms on inflation data, Fed and...",TURKEY-CURRENCY/ (URGENT):Turkey's lira firms ...,{'Market Reports'},"{'Europe', 'Turkey', 'Asia', 'South-Eastern Eu...",939,758,110
1,"tag:reuters.com,2019:newsml_A4N21U01U:17226675...",2019-09-16T15:56:20.000Z,"tag:reuters.com,2019:newsml_A4N21U01U",SYRIA-SECURITY/SUMMIT-ERDOGAN (URGENT),"Turkey, Russia, Iran must take more responsibi...","SYRIA-SECURITY/SUMMIT-ERDOGAN (URGENT):Turkey,...",NaN,"{'United States', 'Americas', 'South-West Asia...",1052,868,126
2,"tag:reuters.com,2019:newsml_A4N21U01Y:16426876...",2019-09-04T11:08:11.000Z,"tag:reuters.com,2019:newsml_A4N21U01Y",TURKEY-ECONOMY/BANKS (URGENT),Turkish banking sector NPL ratio rises to 4.47...,TURKEY-ECONOMY/BANKS (URGENT):Turkish banking ...,NaN,"{'Europe', 'Turkey', 'Asia', 'South-Eastern Eu...",880,711,111
3,"tag:reuters.com,2019:newsml_A4N21U01Z:34605233...",2019-09-12T14:59:13.000Z,"tag:reuters.com,2019:newsml_A4N21U01Z",TURKEY-ECONOMY/GDP (URGENT),Turkish economy will post positive annual grow...,TURKEY-ECONOMY/GDP (URGENT):Turkish economy wi...,{'Market Reports'},"{'Western Europe', 'Europe', 'Turkey', 'Asia',...",920,754,108
4,"tag:reuters.com,2019:newsml_A4N21U020:14323789...",2019-09-17T14:14:42.000Z,"tag:reuters.com,2019:newsml_A4N21U020",TURKEY-CURRENCY/OIL (URGENT),Turkey's lira firms after report of Saudi oil ...,TURKEY-CURRENCY/OIL (URGENT):Turkey's lira fir...,{'Market Reports'},"{'North America', 'Europe', 'Turkey', 'United ...",2313,1897,293

In [8]:
df.to_csv("reuters.csv.gz", 
           index=False, 
           compression="gzip")

In [9]:
df['avgWordLength'] = df['bodyLengthCharsNonWhitespace'] / df['bodyLengthWords']
df.describe()
# rough estimates about the text body:
#  - text body tends to be about 595 words long, but with extreme outliers (46297!)
#  - text body tends to be about 2904 chars long, but with extreme outliers (203K!)
#  - average word length is 7-8 chars long (bodyLengthCharsNonWhitespace / bodyLengthWords, for mean and max)

,bodyLengthChars,bodyLengthCharsNonWhitespace,bodyLengthWords,avgWordLength
count,59542.000000,59542.000000,59542.000000,59542.000000
mean,2759.126751,2201.525914,326.525864,7.591569
std,7472.396196,6149.590782,960.275222,1.380466
min,0.000000,0.000000,1.000000,0.000000
25%,482.000000,380.000000,44.000000,6.644231
50%,959.000000,761.000000,106.000000,7.201647
75%,2952.000000,2346.000000,356.000000,8.450000
max,294233.000000,251216.000000,42360.000000,43.578125

In [10]:
pd.set_option('display.max_colwidth', 0)
df[df['bodyLengthChars'] > 290000]

,filename,datetime,guid,slugline,headline,description,genres,subjects,bodyLengthChars,bodyLengthCharsNonWhitespace,bodyLengthWords,avgWordLength
3669,"tag:reuters.com,2019:newsml_CqtYP8GSa:1548902168.XML",2019-09-05T18:59:38.000Z,"tag:reuters.com,2019:newsml_CqtYP8GSa",USCC-CHINA-2019-REVIEW sked,USCC-CHINA-2019-REVIEW sked,USCC-CHINA-2019-REVIEW sked:USCC-CHINA-2019-REVIEW sked,NaN,"{'North America', 'United States', 'Americas'}",294233,251216,42360,5.9305

In [11]:
df.info()
# rough observations:
#  - genres are missing for the majority of items (could disregard genre, or this could be an interesting problem: predict genre items where it's missing)
#  - subjects are missing for only a small number of items, about 6.7% (59542 - 55559)/59542

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59542 entries, 0 to 9541
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   filename                      59542 non-null  object
 1   datetime                      59542 non-null  object
 2   guid                          59542 non-null  object
 3   slugline                      59542 non-null  object
 4   headline                      59542 non-null  object
 5   description                   59542 non-null  object
 6   genres                        15746 non-null  object
 7   subjects                      55559 non-null  object
 8   bodyLengthChars               59542 non-null  int64
 9   bodyLengthCharsNonWhitespace  59542 non-null  int64
 10  bodyLengthWords               59542 non-null  int64
 11  avgWordLength                 59542 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 5.9+ MB

In [12]:
# df[df['guid'].str.contains("ASC0ABL4")]
df[df['subjects'].isnull()].describe()

,bodyLengthChars,bodyLengthCharsNonWhitespace,bodyLengthWords,avgWordLength
count,3983.000000,3983.000000,3983.000000,3983.000000
mean,6301.561386,5162.674366,720.443133,7.448218
std,9320.121672,7711.865194,991.416586,1.604207
min,70.000000,58.000000,4.000000,2.460055
25%,1139.000000,911.000000,107.000000,6.541509
50%,3160.000000,2582.000000,373.000000,6.928105
75%,6179.000000,5111.000000,769.500000,7.810010
max,127180.000000,105508.000000,12315.000000,26.421053