In [3]:
import pandas as pd

df1 = pd.read_csv('../output_1_10000.csv')
df2 = pd.read_csv('../output_10001_20000.csv')
df3 = pd.read_csv('../output_20001_30000.csv')
df4 = pd.read_csv('../output_30001_40000.csv')
df5 = pd.read_csv('../output_40001_50000.csv')
df6 = pd.read_csv('../output_50001_59542.csv')

df =

,guid,slugline,headline,description,genres,subjects,bodyLengthChars,bodyLengthWords,body
0,"tag:reuters.com,2019:newsml_L3N25V27Z",NORWAY-GAS/ (TABLE),TABLE-Norwegian gas flows to Germany & Netherl...,NORWAY-GAS/ (TABLE):TABLE-Norwegian gas flows ...,{'Reports'},"{'Netherlands', 'Europe', 'United Kingdom', 'B...",1091,362,"b'<html:body xmlns:html=""http://www.w3.org/199..."
1,"tag:reuters.com,2019:newsml_L5N26H2X7",CHAD-MINING/LANDSLIDE (URGENT),About 30 killed in landslide at Chad gold mine,CHAD-MINING/LANDSLIDE (URGENT):About 30 killed...,NaN,"{'Chad', 'Central Africa', 'Africa', 'West Afr...",596,114,"b'<html:body xmlns:html=""http://www.w3.org/199..."
2,"tag:reuters.com,2019:newsml_L5N25X0VJ","AFGHANISTAN-MASSOUD/ (PIX, TV)","Son of Afghan resistance hero criticises ""secr...","AFGHANISTAN-MASSOUD/ (PIX, TV):Son of Afghan r...",NaN,"{'Asia', 'Emerging Market Countries', 'Afghani...",4477,843,"b'<html:body xmlns:html=""http://www.w3.org/199..."
3,"tag:reuters.com,2019:newsml_L3N26L2SR","OIL-PRICES/ (POLL, PIX)",POLL-Oil price seen holding steady on Mideast ...,"OIL-PRICES/ (POLL, PIX):POLL-Oil price seen ho...","{'Reports', 'Media type Pictures', 'Polls', 'R...","{'Asia', 'United Kingdom', 'South America / Ce...",4331,831,"b'<html:body xmlns:html=""http://www.w3.org/199..."
4,"tag:reuters.com,2019:newsml_FWN26H0VB",USA-FEMA/ (URGENT),Trump nominates Peter Gaynor to be FEMA chief-...,USA-FEMA/ (URGENT):Trump nominates Peter Gayno...,NaN,"{'North America', 'Americas', 'United States'}",790,144,"b'<html:body xmlns:html=""http://www.w3.org/199..."

In [4]:
df.describe()
# rough estimates about the text body:
#  - text body tends to be about 595 words long, but with extreme outliers (46297!)
#  - text body tends to be about 2904 chars long, but with extreme outliers (203K!)
#  - average word length is 4-5 chars long (bodyLengthChars / bodyLengthWords, for mean and max)

       bodyLengthChars  bodyLengthWords
count      5026.000000      5026.000000
mean       2904.443693       595.309988
std        8251.696134      1795.231286
min         146.000000        41.000000
25%         479.000000       102.000000
50%         947.500000       193.000000
75%        2957.750000       580.000000
max      203323.000000     46297.000000

In [6]:
df.info()
# rough observations:
#  - genres are missing for the majority of items (could disregard genre, or this could be an interesting problem: predict genre items where it's missing)
#  - subjects are missing for a small number of items, about 6.5%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5026 entries, 0 to 5025
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   guid             5026 non-null   object
 1   slugline         5026 non-null   object
 2   headline         5026 non-null   object
 3   description      5026 non-null   object
 4   genres           1307 non-null   object
 5   subjects         4697 non-null   object
 6   bodyLengthChars  5026 non-null   int64
 7   bodyLengthWords  5026 non-null   int64
 8   body             5026 non-null   object
dtypes: int64(2), object(7)
memory usage: 353.5+ KB